.tooltip-textbox {
  position: absolute;
  display: none;
  background-color: #dddddd;
  padding: 1em;
  border-radius: 10px;
  border: 5px solid transparent;
  outline: none;
  color:black;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  width: 200px;
  height: 300px;
  transition: all 0.2s;
  pointer-events: none;
}

.tooltip-textbox:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.tooltip-textbox:focus {
  cursor: text;
  color: #333333;
  background-color: white;
  border-color: #333333;
}
